* {
	margin: 0;
	padding: 0;
}
.ancor-color {
	color: #16c199;
}
.login-dark {
	background: linear-gradient(45deg, #17064e, #440000);
	height: 100vh;
	position: relative;
}
.animation {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	filter: blur(7px);
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	background-size: 400%;
	transition: opacity 0.3s ease-in-out;
	animation: animate 20s linear infinite;
	top: 0;
	left: 0;
}
@keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
.login-dark .form-section {
	max-width: 320px;
	width: 90%;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

.login-dark form {
	background-color: #070a10;
	padding: 40px;
	border-radius: 4px;
	color: #fff;
	box-shadow: 0px 0px 5px #008f8d;
	position: relative;
	z-index: 1;
}
.login-dark form .form-control:focus {
	border-color: #00ff8b;
}
.login-dark .illustration {
	text-align: center;
	padding: 15px 0 20px;
	font-size: 100px;
	color: #2980ef;
}

.login-dark form .form-control {
	background: none;
	border: none;
	border-bottom: 1px solid #434a52;
	border-radius: 0;
	box-shadow: none;
	outline: none;
	color: inherit;
	transition: 0.4s;
}

.login-dark form .btn-primary {
	background: #214a80;
	border: none;
	border-radius: 4px;
	padding: 11px;
	box-shadow: none;
	margin-top: 26px;
	text-shadow: none;
	outline: none;
	transition: 0.6s;
	font-weight: 600;
}

.login-dark form .btn-primary:hover,
.login-dark form .btn-primary:active {
	background: #00ff8b;
	outline: none;
	color: #000000;
}

.login-dark form .forgot {
	display: block;
	text-align: center;
	font-size: 12px;
	color: #6f7a85;
	opacity: 0.9;
	text-decoration: none;
}

.login-dark form .forgot:hover,
.login-dark form .forgot:active {
	opacity: 1;
	text-decoration: none;
}

.login-dark form .btn-primary:active {
	transform: translateY(1px);
}
.signup {
	font-size: 13px;
}
.dataTables_wrapper .dataTables_length {
	float: left;
	margin-bottom: 20px;
}
.dataTables_wrapper .dataTables_filter {
	float: right;
	text-align: right;
	margin-bottom: 20px;
}
.dataTables_wrapper .dataTables_info {
	clear: both;
	float: left;
	padding-top: 0.755em;
}
.dataTables_wrapper .dataTables_paginate {
	float: right;
	text-align: right;
	padding-top: 0.25em;
}
.paginate_button {
	border: 1px solid #6c7293;
	color: white;
	padding: 3px 10px;
	background: #0a09091a;
	margin: 3px;
	border-radius: 7px;
	cursor: pointer;
}
.table {
	color: #e1e1e1 !important;
	border-color: transparent !important;
}
tr:nth-child(even) {
	background-color: #1c212c;
}
.paginate_button.current,
.paginate_button.current:hover {
	color: #fff !important;
	background: #1b2b50;
}
.form-floating > .form-select {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
